
body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul li{
    list-style-type: none;
    display: inline;
    font-size: 0.75rem;
}
ul{
    padding: 5px;
    margin: 5px;
}
nav button{
    background-color: cornflowerblue;
    color: cornsilk;
    border:none;
    font-weight: bold;
    padding: 5px 7px;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
nav ul li{
    margin: 0px 10px;
}
nav li:nth-of-type(2){
    margin-right: auto;
}
input{
    border:none;
    width: 500px;
    margin-bottom: 3px;
}
input:focus{
    outline: none;
}
footer{
    position: absolute;
   bottom: 0;
   width: 100%;
   background-color: rgb(245, 243, 243);
   
}
footer ul{
    display: flex;
    justify-content: flex-end;
}

footer ul li{
    padding: 10px;
    
}
footer li:nth-of-type(4){
    margin-left: auto;
}

main{
    margin: auto;
    display: inline;
    vertical-align: middle;
}

main img{
    margin: auto;
    display: block;
}

#buttons{
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#buttons button{
    margin: 10px;
    padding: 10px;
    border: none;
}

#inputField{
    border: black solid 1px;
    border-radius: 10%;
}
